@import '~bootstrap/scss/bootstrap';
#nav{
    padding: 0;
}
.pistas{
    .card-reser{
        max-width: 33%;
    }
}
.reser-img{
    height: 160.06px;
    width: 259.53px;
    
}
// .img-about{
//     height:"336.06px" !important;
//    width:"698.53px" !important;
// }
